/* Layout */

.item1 { grid-area: header; margin-top: -1vw; background-color: #ffffff; height: 10vw; width: 100%; }
.item2 { grid-area: dice; height: 25%; width: 25%; margin-top: -12vw; margin-left: 65vw;}
.item3 { grid-area: title; margin-top: -5vw;}
.item4 { grid-area: a; width: 100%; margin: auto; }
.item403 { grid-area: a; width: 100%; margin: auto; margin-top: 0;}
.item5 { grid-area: b; width: 100%; margin: auto; }
.item6 { grid-area: c; width: 100%; margin: auto; }
.item7 { grid-area: d; width: 100%; margin: auto; }
.item8 { grid-area: e; width: 100%; margin: auto;}
.item9 { grid-area: footer; margin: auto; }


.grid1 {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'dice dice dice dice dice dice'
    'title title title title title title'
    'a a a a a a'
    'b b b b b b'
    'c c c c c c'
    'd d d d d d'
    'e e e e e e'
    'footer footer footer footer footer footer';
  grid-gap: 20px;
  background-color: white;
  padding: 25px;
}

.grid2 {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'dice dice dice dice dice dice'
    'title title title title title title'
    'a a b b b b'
    'c c b b b b'
    'c c b b b b'
    'd d d d d d'
    'e e e e e e'
    'footer footer footer footer footer footer';
  grid-gap: 20px;
  background-color: white;
  padding: 25px;
}

.grid3 {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'dice dice dice dice dice dice'
    'title title title title title title'
    'a a a b b b'
    'c c c c c c'
    'd d d d d d'
    'e e e e e e'
    'footer footer footer footer footer footer';
  grid-gap: 20px;
  background-color: white;
  padding: 25px;
}

.grid4 {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'dice dice dice dice dice dice'
    'title title title title title title'
    'a a b b b b'
    'd d d d d d'
    'c c c c c c'
    'e e e e e e'
    'footer footer footer footer footer footer';
  grid-gap: 20px;
  background-color: white;
  padding: 25px;
}

.grid5 {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'dice dice dice dice dice dice'
    'title title title title title title'
    'a a a b b b'
    'c c c d d d'
    'footer footer footer footer footer footer';
  grid-gap: 20px;
  background-color: white;
  padding: 25px;
}

.grid6 {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'dice dice dice dice dice dice'
    'title title title title title title'
    'a a b b b b'
    'c c c c d d'
    'e e e e e e'
    'footer footer footer footer footer footer';
  grid-gap: 20px;
  background-color: white;
  padding: 25px;
}

.card-number {
  margin-top: -8.5vw;
  margin-left: .5vw;
}

.dec {
  width: 75%;
  margin: auto;
}

#create {
  margin-top: 3.8vw;
}

/* table */
table {
    font-family: arial, sans-serif;
    font-size: 2.5vw;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 0px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}


.home_button {
  text-align: right;
  font-size: 2vw;
  font-family: sans-serif;
  color: black;
  opacity: .5;
  text-transform: uppercase;
  margin-top: -10vw;
  margin-right: 2vw;
}
.inline-graphic {
  margin-left: 5vw;

}

.goals {
  margin-left: -4vw;
}

.number {
  height: 8%;
  width: 10%;
}

.page-title {
  margin-top: -9.5vw;
  margin-left: 12.5vw;
}

.group {
  line-height: 5%;
  margin-top: -6vw;
}

.tools {
  line-height: normal;
}

.tighten {
  line-height: 5px;
}

.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.button1 {
    background-color: white;
    color: black;
    width: 150px;
    border: 2px solid #e7e7e7;
}

.button1:hover {background-color: #e7e7e7;}

a.pt:link {color: blue; text-decoration: none; }
a.pt:visited {color: grey; text-decoration: none; }
a.pt:hover {color: blue; text-decoration: underline; }
a.pt:active {color: black; }

a:link {
  color: #5d5061;
}

a:hover {
color: #0000ff;
}

/* Headers */
h1 {
font-family: sans-serif;
font: helvetica;
font-weight: bold;
font-Size: 5vw;
text-transform: uppercase;
}

h1.card-number {
  font-family: sans-serif;
  font: helvetica;
  color: white;
  font-size: 3.5vw;
}

h2 {
font-family: sans-serif;
font: helvetica;
font-weight: bold;
font-Size: 4vw;
text-transform: uppercase;
}

h3 {
font-family: sans-serif;
font: helvetica;
font-weight: bold;
font-Size: 3vw;
text-transform: none;
}

h4 {
font-family: sans-serif;
font: helvetica;
font-weight: lighter;
font-Size: 2.5vw;
}

h5 {
font-family: sans-serif;
font: helvetica;
font-weight: bold;
font-Size: 2.5vw;
text-transform: uppercase;
}

p {
  color: #000000;
  font-Size: 2vw;
  font-family: sans-serif;
  line-height: 2.5vw;
}

ul {
  color: #000000;
  font-family: sans-serif;
  font: helvetica;
  font-Size: 2vw;
  line-height: 2.5vw;
}

ol {
  color: #000000;
  font-family: sans-serif;
  font: helvetica;
  font-Size: 2vw;
  list-style-position: inside;
  line-height: 2.5vw;
}

li {
  margin: 2vw 0;
}

ul.no-bullet {
  margin-left: -1.5vw;
  list-style: none;
}

.checkbox {
	display:inline-block;
	position: relative;
	vertical-align:middle;
}

table#t01 tr:nth-child(even) {
    background-color: none;
}
table#t01 tr:nth-child(odd) {
    background-color: none;
}
table#t01 td {
    font-size: 2vw;
    padding: 5px;
    border-color: #b1a296;
    border-width: thin;
    color: black;
    background-color: white;
}

table#scale {
  font-family: arial, sans-serif;
  font-size: 1.5vw;
  border-collapse: collapse;
  width: 50%;
  line-height: 1.5vw;
}

table#scale td {
    font-size: 1.5vw;
    padding: 5px;
    text-align: center;
}

table#scale th {
    font-size: 1.5vw;
    padding: 5px;
    text-align: center;
}
